<footer class="page__footer">
    <nav>
      <ul>
        <li><a href="" class="">Articles</a></li>
        <li><a href="" class="">Books</a></li>
        <li><a href="" class="">Events</a></li>
        <li><a href="" class="">Reasons</a></li>
        <li><a href="" class="">Tips</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="" class="">Twitter</a></li>
        <li><a href="" class="">Instagram</a></li>
        <li><a href="" class="">Mastodon.social</a></li>
      </ul>
    </nav>
    <div>
      <small> &copy; 2021 </small>
      <div>we ❤︎ components</div>
    </div>
  </footer>