<footer class="footer">
  <button class="footer__button">
    <img src="./assets/images/ico-arrow.svg" alt="" title="">
  </button>
  <nav class="footer__nav">
    <ul class="navList">
      <li class="navList__item">
        <a
          class="navList__item--link"
          href="https://adalab.es/"
          target="_blank"
          >Articles</a
        >
      </li>
      <li class="navList__item">
        <a
          class="navList__item--link"
          href="https://adalab.es/"
          target="_blank"
          >Books</a
        >
      </li>
      <li class="navList__item">
        <a
          class="navList__item--link"
          href="https://adalab.es/"
          target="_blank"
          >Events</a
        >
      </li>
      <li class="navList__item">
        <a
          class="navList__item--link"
          href="https://adalab.es/"
          target="_blank"
          >Reasons</a
        >
      </li>
      <li class="navList__item">
        <a
          class="navList__item--link"
          href="https://adalab.es/"
          target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul class="navList">
      <li class="navList__item"><a class="navList__item--link" href="https://adalab.es/" class="">Twitter</a></li>
      <li class="navList__item"><a class="navList__item--link" href="https://adalab.es/" class="">Instagram</a></li>
      <li class="navList__item"><a class="navList__item--link" href="https://adalab.es/" class="">Mastodon.social</a></li>
    </ul>
  </nav>
  <div>
    <small> &copy; 2021 </small>
    <div>we <span class="icon">❤︎</span> components</div>
  </div>
</footer>
