<main class="main">
    <section class="main__sectionAnonymous">
      <h1 class="main__sectionAnonymous--title">Anonymous Proxy</h1>
      <p class="main__sectionAnonymous--paragraph">In hac habitasse platea dictumst.</p>
      <button class="main__sectionAnonymous--button"></button>
    </section>
    <section class="main__sectionWindow">
      <small class="main__sectionWindow--insomnia">Insomnia Tips</small>
      <h2 class="main__sectionWindow--title">Looking Through A Window</h2>
      <p class="main__sectionWindow--paragraph">
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
        at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <button class="main__sectionWindow--button"></button>
    </section>
    <section class="main__sectionReasons">
      <h2 class="main__sectionReasons--title">3 Reasons To Purchase</h2>
      <div>
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div>
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div>
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <button class="main__sectionReasons--button"></button>
    </section>
  </main>