<main>
    <section>
      <!--BG-image--> <div></div>
      <h1>Anonymous Proxy</h1>
      <p>In hac habitasse platea dictumst.</p>
      <button></button>
    </section>
    <section>
      <small>Insomnia Tips</small>
      <h2>Looking Through A Window</h2>
      <p>
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
        at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <button></button>
    </section>
    <section>
      <h2>3 Reasons To Purchase</h2>
      <div>
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div>
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div>
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <button></button>
    </section>
  </main>