<main class="main">
  <section class="main__sectionAnonymous">
    <h1 class="main__sectionAnonymous--title">Anonymous Proxy</h1>
    <p class="main__sectionAnonymous--paragraph">
      In hac habitasse platea dictumst.
    </p>
    <button class="main__sectionAnonymous--button">
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="button with an arrow"
        title="Press here to go to 3 Reasons To Purchase"
      />
    </button>
  </section>
  <section class="main__sectionWindow">
    <small class="main__sectionWindow--insomnia">Insomnia Tips</small>
    <h2 class="main__sectionWindow--title">Looking through a window</h2>
    <p class="main__sectionWindow--paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="main__sectionWindow--button">Go</button>
  </section>
  <section class="main__sectionReasons">
    <h2 class="main__sectionReasons--title">3 reasons to purchase</h2>
    <div class="sectionReasons__container">
      <h3 class="sectionReasons__container--title">Ut sed metus</h3>
      <p class="sectionReasons__container--paragraph">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </div>
    <div class="sectionReasons__container">
      <h3 class="sectionReasons__container--title">Curabitur ac erat</h3>
      <p class="sectionReasons__container--paragraph">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>
    <div class="sectionReasons__container">
      <h3 class="sectionReasons__container--title">Morbi dictum</h3>
      <p class="sectionReasons__container--paragraph">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </div>
    <button class="sectionReasons__button">More reasons</button>
  </section>
</main>
