.footer {
  background-color: $bg-color-footer;
  @include frame(465px, 100%);
  @include fonts(16px, 30px, normal);
  color: $color-white;
  font-family: $font-main;
  @media all and (min-width: 768px) {
    @include frame(240px, 100%);
  }
  @media all and (min-width: 1200px) {
    @include frame(240px, 100%);
  }
  &__button {
    background-color: $bg-color-white;
    @include frame(45px, 45px);
    border: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    margin: auto;
    box-shadow: 0 2px 4px 0;
    animation-duration: 6s;
    animation-name: arrow;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @keyframes arrow {
      from {
        background-color: $bg-color-white;
        border-radius: 50%;
      }
      25% {
        border-radius: 25%;
      }
      50% {
        background-color: $bg-color-header;
        border-radius: 0%;
      }
      75% {
        border-radius: 25%;
      }
      100% {
        background-color: $bg-color-header;
        border-radius: 50%;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -47px; /* 45px button and 2px shadow */
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    &--nav1 {
      text-transform: uppercase;
      margin-top: 60px;
      margin-bottom: 30px;
      @media all and (min-width: 768px) {
        @include frame(150px, 210px);
        margin-top: 45px;
        margin-bottom: 45px;
        margin-right: 30px;
      }
      @media all and (min-width: 1200px) {
        @include frame(150px, 161px);
      }
    }
    &--nav2 {
      text-transform: uppercase;
      margin-bottom: 30px;
      @media all and (min-width: 768px) {
        @include frame(90px, 210px);
        margin-top: 45px;
        margin-bottom: 105px;
      }
      @media all and (min-width: 1200px) {
        @include frame(90px, 159px);
      }
    }
  }
}
.navList1 {
  list-style-type: none;
  &__item {
    text-align: center;
    @media all and (min-width: 768px) {
      text-align: left;
    }
    @media all and (min-width: 1200px) {
    }
    &--link {
      padding-left: 15px;
      padding-right: 15px;
      color: $color-white;
      text-decoration: none;
      &:visited {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
  @media all and (min-width: 768px) {
  }
}

.navList2 {
  list-style-type: none;
  &__item {
    text-align: center;
    @media all and (min-width: 768px) {
      text-align: left;
    }
    @media all and (min-width: 1200px) {
    }
    &--link {
      padding-left: 15px;
      padding-right: 15px;
      color: $color-white;
      text-decoration: none;
      &:visited {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

.footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    order: -1;
    justify-content: flex-start;
    align-items: flex-start;
    @include frame(60px, 210px);
    margin-top: 45px;
    margin-bottom: 142px;
    margin-right: 30px;
  }
  @media all and (min-width: 1200px) {
    @include frame(60px, 159px);
    margin-top: 45px;
    margin-bottom: 135px;
    margin-right: 31px;
  }
  &-2021 {
    @include fonts(14px, 30px, normal);
  }
  &--components {
    @include fonts(14px, 30px, normal);
  }
  &--icon {
    color: $color-orange;
  }
}
