// section Anonymous

.main__sectionAnonymous {
  position: relative;
  top: 0;
  background: url("../images/cover-original.jpg");
  background-size: cover;
  @include frame(100vh, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &--title {
    color: $color-white;
    font-family: $font-second;
    @include fonts(42px, 55px, normal);
    @include frame(110px, 290px);
    margin: 284px 15px 10px 15px;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      @include fonts(80px, 106px, normal);
      @include frame(212px, 690px);
      margin: 384px 39px 20px 39px;
    }
    @media all and (min-width: 1200px) {
      @include fonts(100px, 132px, normal);
      @include frame(264px, 730px);
      margin: 384px 275px 0px 275px;
    }
  }
  &--paragraph {
    color: $color-white;
    font-family: $font-main;
    font-size: 16px;
    @include frame(21px, 290px);
    margin: 0px 15px 45px 15px;
    @media all and (min-width: 768px) {
      font-size: 24px;
      @include frame(32px, 360px);
      margin: 0px 204px 30px 204px;
    }
    @media all and (min-width: 1200px) {
      @include frame(32px, 730px);
      margin: 0px 275px 30px 275px;
    }
  }
  &--button {
    background-color: $bg-color-white;
    @include frame(45px, 45px);
    border: 0px;
    border-radius: 50%;
    margin: 0px 137px 53px 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      margin: 0px 361px 45px 362px;
    }
    @media all and (min-width: 1200px) {
      margin: 0px 617px 13px 618px;
    }
  }
}

// section Window

.main__sectionWindow {
  @include frame(376px, 100%);
  padding: 30px 0px 45px 15px;
  @media all and (min-width: 768px) {
    padding: 30px 39px 60px 39px;
    @include frame(330px, 100%);
  }
  @media all and (min-width: 1200px) {
    padding: 60px 275px 60px 275px;
    @include frame(360px, 100%);
  }
  &--insomnia {
    color: $color-lightblue;
    font-family: $font-main;
    @include fonts(14px, 30px, normal);
    @include frame(30px, 90px);
    margin: 0px 215px 1px 0px;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      @include frame(30px, 216px);
      margin: 0px 474px 0px 0px;
    }
    @media all and (min-width: 1200px) {
      @include frame(30px, 360px);
      @include fonts(16px, 30px, normal);
      margin: 0px 370px 0px 0px;
    }
  }
  &--title {
    color: $color-black;
    font-family: $font-second;
    @include fonts(24px, 30px, normal);
    @include frame(60px, 290px);
    margin: 0px 15px 15px 0px;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      @include frame(45px, 690px);
      margin: 0px 0px 30px 0px;
      @include fonts(26px, 45px, normal);
    }
    @media all and (min-width: 1200px) {
      @include frame(45px, 730px);
      @include fonts(32px, 45px, normal);
    }
  }
  &--paragraph {
    color: $color-greyish-brown;
    font-family: $font-main;
    @include fonts(18px, 30px, normal);
    @include frame(120px, 290px);
    margin: 0px 15px 30px 0px;
    @media all and (min-width: 768px) {
      @include frame(60px, 690px);
      margin: 0px 0px 30px 0px;
      @include fonts(20px, 30px, normal);
    }
    @media all and (min-width: 1200px) {
      @include frame(60px, 730px);
    }
  }
  &--button {
    border: solid 2px $color-orange;
    border-radius: 22.5px;
    color: $color-orange;
    @include frame(45px, 76px);
    margin: 0px 229px 0px 0px;
    font-family: $font-main;
    @include fonts(20px, 45px, bold);
    background-color: $bg-color-white;
    transition: color 1s, background-color 1s, border 1s;
    &:hover {
      background-color: $bg-color-footer;
      border: solid 2px $bg-color-footer;
      color: $color-white;
    }
    @media all and (min-width: 768px) {
      @include frame(45px, 91px);
      margin: 0px 599px 0px 0px;
    }
    @media all and (min-width: 1200px) {
      @include frame(45px, 160px);
      margin: 0px 570px 0px 0px;
    }
  }
}

// section Interview

.main__sectionInterview{
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &--precio{
      width:100%;
      text-align: center;
    }
    &--premium{
      width: 50%;
      padding-left: 30px; 
      text-align: left;
    }
    &--descuento{
      width: 50%;
      padding-right: 30px; 
      text-align: right;
    }
  }
}

// section Reasons

.main__sectionReasons {
  background-color: $bg-color-reasons;
  color: $color-black;
  @include frame(624px, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (min-width: 768px) {
    @include frame(397px, 100%);
  }
  @media all and (min-width: 1200px) {
    @include frame(427px, 100%);
  }
  &--title {
    grid-column: 1/4;
    font-family: $font-second;
    @include fonts(24px, 30px, normal);
    text-transform: capitalize;
    height: 30px;
    @include frame(30px, 290px);
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 45px;
    @media (min-width: 768px) {
      @include frame(45px, 450px);
      @include fonts(26px, 45px, normal);
    }
    @media all and (min-width: 1200px) {
      @include frame(45px, 730px);
      margin-top: 60px;
    }
  }
}

.sectionReasons__container1 {
  @include fonts(18px, 30px, normal);
  grid-column: 1/4;
  text-align: center;
  margin: auto;
  @media (min-width: 768px) {
    grid-column: 1 / 2;
  }
  &--title {
    font-family: $font-second;
    text-align: center;
    margin: auto;
    @include frame(30px, 184px);
    @media (min-width: 768px) {
      @include frame(30px, 210px);
      @include fonts(24px, 30px, normal);
      margin-bottom: 14px;
    }
    @media all and (min-width: 1200px) {
      @include frame(30px, 350px);
    }
  }
  &--paragraph {
    font-family: $font-main;
    @include frame(63px, 180px);
    margin-bottom: 45px;
    text-align: center;
    @media (min-width: 768px) {
      @include frame(68px, 212.3px);
      @include fonts(20px, 30px, normal);
      margin-bottom: 60px;
    }
    @media all and (min-width: 1200px) {
      @include frame(68px, 353.8px);
    }
  }
}

.sectionReasons__container2 {
  @include fonts(18px, 30px, normal);
  grid-column: 1/4;
  text-align: center;
  margin: auto;
  @media (min-width: 768px) {
    grid-column: 2 / 3;
  }
  &--title {
    font-family: $font-second;
    text-align: center;
    margin: auto;
    @include frame(30px, 184px);
    @media (min-width: 768px) {
      @include frame(30px, 210px);
      @include fonts(24px, 30px, normal);
      margin-bottom: 14px;
    }
    @media all and (min-width: 1200px) {
      @include frame(30px, 350px);
    }
  }
  &--paragraph {
    font-family: $font-main;
    @include frame(63px, 180px);
    margin-bottom: 45px;
    text-align: center;
    @media (min-width: 768px) {
      @include frame(68px, 212.3px);
      @include fonts(20px, 30px, normal);
      margin-bottom: 60px;
    }
    @media all and (min-width: 1200px) {
      @include frame(68px, 353.8px);
    }
  }
}

.sectionReasons__container3 {
  @include fonts(18px, 30px, normal);
  grid-column: 1/4;
  text-align: center;
  margin: auto;
  @media (min-width: 768px) {
    grid-column: 3 / 4;
  }
  &--title {
    font-family: $font-second;
    text-align: center;
    margin: auto;
    @include frame(30px, 184px);
    @media (min-width: 768px) {
      @include frame(30px, 210px);
      @include fonts(24px, 30px, normal);
      margin-bottom: 14px;
    }
    @media all and (min-width: 1200px) {
      @include frame(30px, 350px);
    }
  }
  &--paragraph {
    font-family: $font-main;
    @include frame(63px, 180px);
    margin-bottom: 45px;
    text-align: center;
    @media (min-width: 768px) {
      @include frame(68px, 212.3px);
      @include fonts(20px, 30px, normal);
      margin-bottom: 60px;
    }
    @media all and (min-width: 1200px) {
      @include frame(68px, 353.8px);
    }
  }
}

.sectionReasons__button {
  border: solid 0px;
  border-radius: 22.5px;
  color: $color-white;
  background-color: $bg-color-orange;
  text-align: center;
  margin: auto;
  @include frame(45px, 184px);
  margin-bottom: 60px;
  font-family: $font-main;
  @include fonts(20px, 45px, bold);
  grid-column: 1 / 4;
  transition: background-color 2s, font-size 2s;
  &:hover {
    background-color: $bg-color-footer;
    font-size: 22px;
  }
  @media (min-width: 768px) {
    @include frame(45px, 210px);
    grid-column: 2 / 3;
    margin-bottom: 60px;
  }
  @media all and (min-width: 1200px) {
    @include frame(45px, 255px);
  }
}
