.main__sectionAnonymous {
  position: relative;
  background: url("../images/cover.jpg");
  background-size: cover;
  top: 0;
  @include frame(100vh, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &--title {
    color: $color-white;
    font-family: $font-second;
    @include fonts(42px, 55px, bold); /* change all bold */
    @include frame(110px, 290px);
    margin: 284px 15px 10px 15px;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      @include fonts(80px, 106px, bold); /* change all bold */
      @include frame(212px, 690px);
      margin: 384px 39px 20px 39px;
    }
    @media all and (min-width: 1200px) {
      @include fonts(100px, 132px, bold);
      @include frame(264px, 730px);
      margin: 384px 275px 0px 275px;
    }
  }
  &--paragraph {
    color: $color-white;
    font-family: $font-main;
    font-size: 16px;
    @include frame(21px, 290px);
    margin: 0px 15px 45px 15px;
    @media all and (min-width: 768px) {
      font-size: 24px;
      @include frame(32px, 360px);
      margin: 0px 204px 30px 204px;
    }
    @media all and (min-width: 1200px) {
      @include frame(32px, 730px);
      margin: 0px 275px 30px 275px;
    }
  }
  &--button {
    background-color: $bg-color-white;
    @include frame(45px, 45px);
    border: 0px;
    border-radius: 50%;
    font-family: $font-main;
    margin: 0px 137px 53px 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      margin: 0px 361px 45px 362px;
    }
    @media all and (min-width: 1200px) {
      margin: 0px 617px 13px 618px;
    }
  }
}

.main__sectionWindow {
  width: 100%;
  margin: 30px 0px 45px 15px;
  @media all and (min-width: 768px) {
    margin: 30px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    margin: 60px 275px 60px 275px;
  }
  &--insomnia {
    color: $color-lightblue;
    font-family: $font-main;
    @include fonts(14px, 30px, normal);
    @include frame(30px, 90px);
    margin: 0px 200px 1px 0px;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      @include frame(30px, 216px);
      margin: 0px 513px 0px 0px;
    }
    @media all and (min-width: 1200px) {
      @include frame(30px, 360px);
      @include fonts(16px, 30px, normal);
      margin: 0px 645px 0px 0px;
    }
  }
  &--title {
    color: $color-black;
    @include fonts(24px, 30px, bold);
    @include frame(60px, 290px);
    margin: 0px 15px 15px 0px;
    text-transform: capitalize;
    @media all and (min-width: 768px) {
      @include frame(45px, 690px);
      margin: 0px 0px 30px 0px;
      @include fonts(26px, 45px, bold);
    }
    @media all and (min-width: 1200px) {
      @include frame(45px, 730px);
      @include fonts(32px, 45px, bold);
    }
  }
  &--paragraph {
    color: $color-greyish-brown;
    font-family: $font-main;
    @include fonts(18px, 30px, normal);
    @include frame(120px, 290px);
    margin: 0px 15px 30px 0px;
    @media all and (min-width: 768px) {
      @include frame(60px, 690px);
      margin: 0px 0px 30px 0px;
      @include fonts(20px, 30px, normal);
    }
    @media all and (min-width: 1200px) {
      @include frame(60px, 730px);
    }
  }
  &--button {
    border: solid 2px $color-orange;
    border-radius: 22.5px;
    color: $color-orange;
    @include frame(45px, 76px);
    margin: 0px 229px 0px 0px;
    font-family: $font-main;
    @include fonts(20px, 45px, bold);
    background-color: $bg-color-white;
    @media all and (min-width: 768px) {
      @include frame(45px, 91px);
      margin: 0px 599px 0px 0px;
    }
    @media all and (min-width: 1200px) {
      @include frame(45px, 160px);
      margin: 0px 570px 0px 0px;
    }
  }
}

.main__sectionReasons {
  background-color: $bg-color-reasons;
  @include frame(624px, 320px);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  &--title {
    color: $color-black;
    @include fonts(24px, 30px, bold); /* text already bold */
    text-transform: capitalize;
  }
}

.main__sectionReasons--title {
  grid-column: 1/4;
}

.sectionReasons__container1, .sectionReasons__container2, .sectionReasons__container3 {
  margin-top: 45px;
  @include fonts(18px, 30px, normal);
  grid-column: 1/4;
  &--title {
    font-family: $font-second;
  }
  &--paragraph {
    font-family: $font-main;
    @include frame(63px, 180px);
  }
}

@media (min-width:768px) {
  .sectionReasons__container1{
    grid-column: 1 / 2;
  }
  .sectionReasons__container2{
    grid-column: 2 / 3;
  }
  .sectionReasons__container3{
    grid-column: 3 / 4;
  }
}

.sectionReasons__button {
  border: solid 0px;
  border-radius: 22.5px;
  color: $color-white;
  background-color: $bg-color-orange;
  @include frame(45px, 184px);
  margin: 45px 229px 45px 15px;
  font-family: $font-main;
  @include fonts(20px, 45px, normal);
  grid-column: 1/4;
}